{% extends 'original.html' %}
{% block content %}

  <!-- Header -->
  <header class="masthead">
    <div class="container">
    </div>
  </header>
<!-- end -->

  <!-- Contact -->
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="col-lg-12 text-center">


<h2 class="section-heading text-uppercase">Token Balance</h2>
<br>
<br>
<!-- <button id="request-address" class="btn btn-primary btn-xl text-uppercase" onclick="getbalance()"> Load Your Wallet</button> -->
<button id="request-address" class="btn btn-primary btn-xl text-uppercase"> Load Your Wallet</button>
<br><br></div>
<p id="token-balance" class="section-heading text-uppercase" > your Token Balances : </p>
<div class="col-lg-12 text-center">
<p id="Call-result" class="section-heading text-uppercase" > Load Your Wallet </p>
</div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Your Website 2019</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


  <!-- JS code -->
  <script src="http://cdn.jsdelivr.net/gh/icon-project/icon-sdk-js@latest/build/icon-sdk-js.web.min.js"></script>
  <script>
      var IconService = window['icon-sdk-js']
      var provider = new IconService.HttpProvider('https://bicon.net.solidwallet.io/api/v3')
      var IconServices = new IconService(provider)
      var IconWallet = IconServices.IconWallet
      var IconAmount = IconServices.IconAmount
      var IconConverter = IconService.IconConverter
      var IconBuilder = IconService.IconBuilder

      var requestaddress = document.getElementById("request-address")
      var Callresult = document.getElementById("Call-result")

      window.addEventListener("ICONEX_RELAY_RESPONSE", eventHandler, false);


      function eventHandler(event) {
            var type = event.detail.type
            var payload = event.detail.payload
            switch (type) {
                case "RESPONSE_HAS_ACCOUNT":
                    responseHasAccount.innerHTML = "> Result : " + payload.hasAccount + " (" + typeof payload.hasAccount + ")";
                    break
                case "RESPONSE_HAS_ADDRESS":
                    responseHasAddress.innerHTML = "> Result : " + payload.hasAddress + " (" + typeof payload.hasAddress + ")";
                    break
                case "RESPONSE_ADDRESS":
                    fromAddress = payload
                    balance = new getbalance();  

                    balance.then(function(result) {

                      console.log(result); // "Stuff worked!"
                      Callresult.innerHTML = IconConverter.toBigNumber(result);

                    }, function(err) {
                       Callresult.innerHTML = err;
                       console.log(err); // Error: "It broke"
                    });
                    break
                default:
            }
        }


      function getbalance() {

        var iconCallBuilder = new IconBuilder.CallBuilder;
        var callTransaction = iconCallBuilder
            .from(fromAddress)
            .to('cx89245b4a663f2062a9fe52a219c44c281e1d6c36')
            .method('balanceOf')
            .params('')
            .build()
        data = IconServices.call(callTransaction).execute();
        console.log(data);
        return data
      
      }

      requestaddress.onclick = function () {
            window.dispatchEvent(new CustomEvent('ICONEX_RELAY_REQUEST', {
                detail: {
                    type: 'REQUEST_ADDRESS'
                }
            }))
        }

  </script>
<!--in data-->

{% endblock %}

