{% extends 'original.html' %}
{% block content %}


  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Welcome To T-Bears GUI!!</div>
        <div class="intro-heading text-uppercase">Let's T-Bears it!</div>
      </div>
    </div>
  </header>


  <div class="container">
    <form action="" method="post">{% csrf_token %}
      {{form.as_p }}
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="submit" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger">Save</button>

    </form>
  </div>


{% endblock %}